<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<header class="masthead"
        style="background-image: url('/typo3conf/ext/crio_blog/Resources/Public/Images/devon-fay-scifi-alley.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1 class="text-lowercase">crio blog</h1>
					<span class="subheading">A Blog Theme based on Start Bootstraps "Clean-Blog"</span>
				</div>
			</div>
		</div>
	</div>
</header>

</html>
